#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.hand {
  position:absolute;
  bottom: 5%;
  left: 50%;
  height: 35cqh;
  width: 100cqw;
  transform: translateX(-50%);
}

.deck {
  position:absolute;
  bottom: 50%;
  left: 50%;
  height: 35cqh;
  aspect-ratio: 3/5;
  transform: translateX(-50%);
}

.card {
  padding: 2em;
}

