#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.hand {
  position:absolute;
  bottom: 2%;
  left: 25%;
  height: 25cqh;
  width: 100cqw;
}

.deck {
  position:absolute;
  bottom: 50%;
  right: 10%;
  height: 25cqh;
  aspect-ratio: 3/5;
  transform: translateY(50%);
}

.card {
  padding: 2em;
}

.playArea {
  position: absolute;
  height: 25%;
  width: 65%;
  left: 5%;
  top: 40%;
}