#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.hand {
  position:absolute;
  bottom: 2%;
  left: 25%;
  height: 25cqh;
  width: 100cqw;
  z-index: 10;
}

.deck {
  position:absolute;
  bottom: 50%;
  right: 10%;
  height: 25cqh;
  aspect-ratio: 3/5;
  transform: translateY(50%);
}

.card {
  padding: 2em;
}

.playArea {
  position: absolute;
  height: 25%;
  width: 65%;
  left: 5%;
  border: solid 5px;
  border-radius: 10px;
}

#playArea {
  top: 50%;
  border-color: cadetblue;
}

#opponentPlayArea {
  top: 20%;
  border-color: rgb(220, 59, 0);
}

.playerHud {
  position: fixed;
  width: 100vw;
  height: 15vh;
}

#playerHud {
  bottom: 1vh;
  left: 1vw;
}

#opponentHud {
  top: 3vh;
  left: 1vw;
}

.opponentHand {
  width: 30vw;
  height: 20vh;
  position: fixed;
  top: 1vh;
  right: 1vw;
  margin: 1vw;
}

.opponentHand .opponentCard {
  height: 100%;
  float: right;
  margin-left: -5vh;
}